<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CaminhoArquivoClientes" value="C:\SqTec\clientes.txt"/>
    <add key="CaminhoArquivoLog" value="C:\SqTec\log.txt"/>
    <add key="CaminhoArquivoDados" value="C:\SqTec\dados.json"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>